@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model IEnumerable<BarCejas.Entities.Servicio>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Servicios";
}

<section class="single-page-header">
    <diV class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb header-bradcrumb">
                    <li class="btn-trans"><a href="javascript:history.back()"><i class="fas fa-solid fa-angle-left"></i></a></li>
                    <li class="spa-bag"><a asp-controller="GestorServices" asp-action="Index">Gestor</a></li>
                    <li class="spa-bag">-</li>
                    <li class="active spa-bag">Gestionar servicios</li>
                </ol>
            </div>
        </div>
    </diV>


    <div class="container title-secon-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="title-secon">GESTIONAR SERVICIOS</h4>

            </div>
        </div>
    </div>
</section>

<section class="about-shot-info section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p>Crea, edita o elimina servicios.</p>

            </div>
            <div class="col-md-5">
                <a class="btn btn-main-accion" asp-controller="GestorCategory" asp-action="Index">GESTIONAR CATEGORÍAS</a>
                <a class="btn btn-main-accion float-right" asp-controller="GestorServices" asp-action="New">CREAR SERVICIO</a>
            </div>
        </div>
    </div>
</section>

<section class="company-mission section" style="padding-top: 2%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @await Html.PartialAsync("_ServicioList", Model)
            </div>
        </div>
    </div>
</section>

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">

    OnLoadTable('#example');

    function ChangeStatus(id, status) {
        $.post('@Url.Action("ChangeStatus", "GestorServices")', { id: id }, function (resp) {
            ModalGeneral('', resp.message, resp.isCompleted);
        }).fail(function (error) {
            if (status) {
                $('#gsr_' + id).attr("checked", !status).attr('onclick', 'ChangeStatus(' + id + ','+ !status +')');
            } else {
                $('#gsr_' + id).attr("checked", status).attr('onclick', 'ChangeStatus(' + id + ',' + status +')');
            }
            OnFailureAddOrEdit(error);
        });
    }
</script>
}