@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model IEnumerable<BarCejas.Entities.Paquete>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Paquetes";
}


<section class="single-page-header">
    <diV class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb header-bradcrumb">
                    <li class="btn-trans"><a href="javascript:history.back()"><i class="fas fa-solid fa-angle-left"></i></a></li>
                    <li class="spa-bag"><a asp-controller="GestorPackages" asp-action="Index">Gestor</a></li>
                    <li class="spa-bag">-</li>
                    <li class="active spa-bag">Gestor de paquetes</li>
                </ol>
            </div>
        </div>
    </diV>


    <div class="container title-secon-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="title-secon">GESTIONAR PAQUETES</h4>

            </div>
        </div>
    </div>
</section>


<section class="about-shot-info section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Crea,edita o elimina paquetes.</p>

            </div>
            <div class="col-md-4">
                <a class="btn btn-main-accion float-right" asp-controller="GestorPackages" asp-action="New">CREAR PAQUETES</a>
            </div>

        </div>
    </div>
</section>

<section class="company-mission section" style="padding-top: 2%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @await Html.PartialAsync("_PaquetesList", Model)
            </div>
        </div>
    </div>
</section>

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        OnLoadTable('#example');

        
        function ChangeStatus(id, status) {
            $.post('@Url.Action("ChangeStatus", "GestorPackages")', { id: id }, function (resp) {
                ModalGeneral('', resp.message, resp.isCompleted);
            }).fail(function (error) {
                if (status) {
                    $('#gpk_' + id).attr("checked", !status).attr('onclick', 'ChangeStatus(' + id + ','+ !status +')');
                } else {
                    $('#gpk_' + id).attr("checked", status).attr('onclick', 'ChangeStatus(' + id + ',' + status +')');
                }
                OnFailureAddOrEdit(error);
            });
        }
    </script>
}